<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" >
		<div class="container">
			<div class="row">
				<div class="col-md-10">
			    <ul>
			    {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li>
							<a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
						</li>
				    <li>
							<a href="{{ domain }}/about">About</a>
						</li>
				    <li>
							<a href="{{ domain }}/working-group">Community</a>
						</li>
				    <li>
							<a href="{{ domain }}/events">Events</a>
						</li>
				    <li>
							<a href="{{ domain }}/seminars">Seminars</a>
						</li>
				    <li>
							<a href="https://impactfulopensource.fireside.fm/" target="_blank">Podcast</a>
						</li>
				  {% endfor %}
			    </ul>
				</div>
			</div>
		</div>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

<div class="js-menu-screen menu-screen"></div>
