<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" >
		{% unless page.layout == "home" %}
    <ul>
    {% for link in site.data.navigation %}
	    {% if link.url contains 'http' %}
	        {% assign domain = '' %}
	        {% else %}
	        {% assign domain = site.url %}
	    {% endif %}
			<center>
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
			</center>
	  {% endfor %}
    </ul>
		{% endunless %}
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

<div class="js-menu-screen menu-screen"></div>
