$white: #B6B8BA;
$black: #000;
$blue: #2E3192;
$purple: #762b90;
$lavender: #Af1f8e;
$pink: #Ec008c;


body {
  font-family: 'Aileron';
  background: none;
  margin-bottom: 0px;
  margin-top: 0px;
}


#posts-list {
  margin-top: 10em;
  a {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, blue, purple);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

.rainbow {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


.color {
  background: linear-gradient(45deg, blue, pink) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logos {
  background-color: white;
  // background: linear-gradient(55deg, pink, white) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  img {
    padding: 15px;
  }
}

#content {
  padding-top: 10%;
  padding-bottom: 10%;
}

.logo {
  height: 200px;
  width: 200px;
  float: left;
}

h1 {
  font-family: 'Aileron-Black';
  line-height: 200px;
  font-size: 140px;
}

p, .entry-content li  {
  font-size: 1.4em;
}

.navigation-wrapper {
  background-color: #212529;
  height: 50px;
  nav ul {
    padding-top: 10px;
    padding-left: 0px;
    list-style: none;
    li {
      display:inline;
      &:not(:first-child) {
        padding-left: 20px;
      }
    }
  }
}

a {
   color: #fff;
}

.footer-wrapper {
  color: #000;
  position: relative;
  padding-top: 20px;
  height: 60px;
  margin-bottom: 0px;
  .social-icons {
    margin-bottom: 0px !important;
  }
  a {
    color: #000;
  }
}

.logos {
  img {
    width: 100%;
  }
}

#post {
  h1 {
    font-size: 3em;
    line-height: 1em;
    padding: 1em 0;
  }
  h3 {
    padding: 2em 0 1em;
  }
  a {
    color: blue;
  }
  .entry-meta {
    padding: 0 0 40px;
  }
  .entry-content {
    margin-bottom: 5em;
  }
  img {
    max-width: 100%;
  }
}

.bio-photo {
  border-radius: 50%;
  background: #BADA55;
  height: 100px;
  margin-bottom: 20px;
}

#site-nav {
  a {
    color: white;
  }
}

@include media-breakpoint-down(sm) {
  $footer-height: 20px;
  h1 {
    font-size: 80px;
  }
  #post {
    p {
      font-size: 1em;
    }
  }
  .navigation-wrapper {
    height: 50px;
    a {
      font-size: 20px;
    }
  }
}