/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: 80px;
  // margin: 2em auto;
  text-align: center;
  @include font-size(14);
  font-style: italic;
  color: lighten($text-color,20);

  a {
    color: lighten($text-color,20);
  }
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 2em;

  a {
    padding: 4px 8px;

    &:hover {
      color: $black;
    }
  }
}
