<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">
{% include navigation.html %}
<div class="color">
  <div class="container">
    <div class="row text-left justify-content-md-center" id="content">
      <div class="col-lg-12">
        <img src="./assets/images/logo.svg" class="logo" alt="OSPO++ Logo"/>
        <h1 class="heading">OSPO++</h1>
        <p>OSPO++ is a network and a community of collaborative open source program offices in universities, governments, and civic institutions. We're building resources to help create OSPOs, actively engaging in discussions on how to best manage and grow open source programs, and how to garden sustainable communities that last.</p>
        <p>Interested in joining us? <a href="mailto:info@mosslabs.io">Get in touch.</a></p>
      </div>
    </div>
  </div>
</div>

<div class="logos">
  <div class="container">
    <div class="row text-left justify-content-md-center" id="content">
      <p>Current OSPO++ Members</p>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <a href="" target="_blank">
              <img src="assets/images/members/eclipse_foundation_logo/EF_GRY-OR_jpg.jpg" title="Eclipse Foundation" class="align-middle"/>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="https://openforumeurope.org/" target="_blank">
              <img src="assets/images/members/logo-ofe.png" title="Open Forum Europe" class="align-middle"/>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="https://openforumeurope.org/" target="_blank">
              <img src="assets/images/members/university.logo_.small_.horizontal.blue_.jpg" title="Johns Hopkins University" class="align-middle"/>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="https://www.mosslabs.io/" target="_blank">
              <img src="assets/images/members/moss labs black.png" title="MOSS Labs" class="align-middle"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
{% include scripts.html %}

</body>
</html>
